.table,
.table-headers,
.table-body,
.table-row {
  display: flex;
}

.table,
.table-body {
  flex-direction: column;
}

.table-header-cell {
  font-weight: bold;
}

.table-header-cell,
.table-cell {
  padding: 8px;
  flex: 1;
}

.table-row:nth-child(even) {
  background: aliceblue;
}

.table-row:nth-child(odd) {
  background: whitesmoke;
}
